body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:papayawhip ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text {
  text-align: center;
}
.user {
  font-weight: bolder;
  margin: 0.5rem;
}
.form-control {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  margin: 0.5rem;
}
.container {
  padding-left: 70px;
  padding-right: 70px;
 
  line-height: 1.5;
  
  

}
.btn{
  padding: 0.5px 0.75px;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border-radius: 0.25rem;
  line-height: 2;
  width: 75px;
  margin: 0.5rem;

}
.todo {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  line-height: 3;
  margin:0.5rem;
  

}